# This is a basic workflow to help you get started with Actions
name: Flutter Analyze and Build CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'lernsax_data/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      releaseTag:
        description: "tag for a new release (if not set = don't release)"
        required: false
        type: string
      beta:
        description: "beta build"
        required: true
        type: boolean
        default: false
      debugFeatures:
        description: "debug features enabled"
        required: true
        type: boolean
        default: false
      debugNotifyData:
        description: "add notifications debug data - will spam notifications every 2 hours"
        required: true
        type: boolean
        default: false

permissions:
  contents: write

  # A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: flutter build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.3'
      - run: |
          flutter --disable-analytics
          flutter config --no-analytics
          flutter pub get
        name: flutter pub get (and disable analytics)
      - run: |
          cp android/app/signing/key.properties.example android/app/signing/key.properties
          sed -i "s|<storepassword>|$STPW|g" android/app/signing/key.properties
          sed -i "s|<keypassword>|$KPW|g" android/app/signing/key.properties
          sed -i "s|<keyalias>|$KA|g" android/app/signing/key.properties
          sed -i "s|<filepath>|$FP|g" android/app/signing/key.properties
          printf "$STDATA" | base64 -d > android/app/$FP
        env:
          STDATA: ${{ secrets.KEYSTORE_CONTENT_BASE64 }}
          STPW: ${{ secrets.KEYSTORE_PASSWORD }}
          KPW: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KA: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          FP: "signing/keystore.jks"
        name: Setup APK signing
      - run: flutter analyze
      - run: flutter build apk --release --dart-define=beta=$BETA --dart-define=debug_features=$DEBUG --dart-define=debug_notif_data=$DEBUGNOTIF --dart-define=logup_host=$LOGUP_HOST
        env:
          BETA: ${{ inputs.beta }}
          DEBUG: ${{ inputs.debugFeatures }}
          DEBUGNOTIF: ${{ inputs.debugNotifyData }}
          LOGUP_HOST: ${{ secrets.LOGUP_HOST }}
        if: ${{ github.event_name == 'workflow_dispatch' }}
      - run: flutter build apk --release --dart-define=beta=true --dart-define=logup_host=$LOGUP_HOST
        env:
          LOGUP_HOST: ${{ secrets.LOGUP_HOST }}
        if: ${{ github.event_name != 'workflow_dispatch' }}
      - name: Publish new release
        uses: softprops/action-gh-release@v2
        if: ${{ inputs.releaseTag != '' }}
        with:
          files: "build/app/outputs/flutter-apk/app-release.apk"
          prerelease: ${{ inputs.beta || inputs.debugFeatures }}
          tag_name: ${{ inputs.releaseTag }}
      - uses: actions/upload-artifact@v4
        with:
          name: BuiltAPK-Beta
          path: "build/app/outputs/flutter-apk/app-release.apk"
          retention-days: 14
        if: ${{ github.event_name != 'workflow_dispatch' || inputs.beta }}
      - uses: actions/upload-artifact@v4
        with:
          name: BuiltAPK
          path: "build/app/outputs/flutter-apk/app-release.apk"
          retention-days: 14
        if: ${{ github.event_name == 'workflow_dispatch' && !inputs.beta }}
