# This is a basic workflow to help you get started with Actions
name: Flutter Analyze and Build CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
    paths-ignore:
      - '**/README.md'
      - '/notes.md'
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: flutter build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.3'
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter build apk --debug
      - run: flutter build apk --release
#      - run: flutter test
      - uses: actions/upload-artifact@v3
        with:
          name: DebugAPK
          path: "build/app/outputs/flutter-apk/app-debug.apk"
          retention-days: 14
      - uses: actions/upload-artifact@v3
        with:
          name: ReleaseAPK
          path: "build/app/outputs/flutter-apk/app-release.apk"
          retention-days: 14
